[build]
  command = "pnpm run build"
  publish = "dist"

[dev]
  command = "pnpm run dev:vite"
  port = 8888
  targetPort = 5173
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
